<div class="bg-brand-blue text-center text-white px-8 py-8 mb-8">
  <h1 class="font-bold uppercase text-xl2 mb-4">Electronic eyes</h1>
  <p class="mb-8">
    Help for visually impaired people
  </p>
</div>
